{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-info">
                            <h5><i class="icon fas fa-info"></i> 说明</h5>
                            <p>填写活动信息后，需要等待管理员审批。审批通过后，学生才能报名参加活动。</p>
                        </div>
                        {% include "main_app/form_template.html" with messages=messages form=form button_text="提交活动"%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

