{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-info">
                            <h5><i class="icon fas fa-info"></i> 说明</h5>
                            <p><strong>专业</strong>是指学生的专业方向或学科类别，例如：</p>
                            <ul>
                                <li>计算机科学</li>
                                <li>数学</li>
                                <li>英语文学</li>
                                <li>物理</li>
                            </ul>
                            <p class="mb-0">学生和教师都属于某个专业。一个专业下可以有多个科目。</p>
                        </div>
                    </div>
                    {% include "main_app/form_template.html" with messages=messages  form=form button_text="添加专业"%}
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}